body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 200
  ;
}

.container {
  text-align: left;
  max-width: 60%;
}

.typity {
  background-position: 0% 100%;
  border-bottom: 3px solid #fff700;
  box-sizing: border-box;
  font-size: 2rem;
  padding-right: 2px;
  position: relative;
  transition: background-position 1s;
}
.typity::after {
  animation: blink-cursor 0.75s step-end infinite;
  background-color: #ffffff00;
  content: "";
  display: block;
  height: 2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
}
.typity.highlight {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2) 50%, transparent 50%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 200% 2rem;
}
.typity.highlight::after {
  animation: none;
}

@keyframes blink-cursor {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: black;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .typity {
    border-bottom: 2px solid red;
  }
}
